
:root {
    --background-gradient-start: #FA642F;
    --background-dark-orange: #A22A1B;
    --font-bold-italic: 'Montserrat-BoldItalic';
    --font-bold: 'Montserrat-Bold';
    --font-light-italic: 'Montserrat-LightItalic';
    --font-family: 'Montserrat';
}

@font-face {
font-family: 'Montserrat-BoldItalic';
src: url('../../../public/Montserrat/static/Montserrat-BoldItalic.ttf');
font-weight: bold;
font-style: italic;
}
@font-face {
font-family: 'Montserrat';
src: url('../../../public/Montserrat/static/Montserrat-Regular.ttf');
font-weight: bold;
font-style: italic;
}
@font-face {
font-family: 'Montserrat-Bold';
src: url('../../../public/Montserrat/static/Montserrat-Bold.ttf');
}
@font-face {
font-family: 'Montserrat-LightItalic';
src: url('../../../public/Montserrat/static/Montserrat-LightItalic.ttf');
}
@font-face {
font-family: 'Montserrat-Light';
src: url('../../../public/Montserrat/static/Montserrat-Light.ttf');
}

/* Main card styling */
#card-container {
    height: 90%;
    padding: 25px;

    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 25px; 
}

#card-outer {
    border: 1px solid #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    height: 200px;
    display: flex;
    justify-content: center;  
    align-items: center; 
    position: relative; 
    background: var(--background-gradient-start);
}

#card-outer:hover {
    cursor: pointer;
    transform: translateY(-5px);
}
.card-text {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.accept-text {
    font-family: var(--font-bold-italic);
    font-size: 3rem;
}

.accept-text, .card-text {
    position: absolute;
    top: 50%;           
    left: 50%;          
    transform: translate(-50%, -50%);
    transition: opacity 400ms ease;
    text-align: center;
}


#subtext {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    gap:10px;
}

#subtext-left h4,
#subtext-right h4 {
    font-family: var(--font-bold)
}

#subtext-left h4,
#subtext-right h4,
#subtext-left p,
#subtext-right p {
    font-size: 16px;
    margin: 0;
    line-height: 1.35rem;
}

.slots {
    display: flex;
    gap: 5px;

}

.taken, .open {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.taken {
    background-color: black;
}

.open {
    background-color: white
}

#no-games {
    font-size: 2.2rem;
    color: white;
    font-family: var(--font-bold-italic);
}

/* Filter model */

#filter-button {
    font-family: var(--font-family);
    background-color: white;
    color:black;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 20px;
    opacity: 1;
    transition: opacity 200ms;
}

#filter-button:hover {
    opacity: 0.5;
    cursor: pointer;
}

#modal {
    width: 55%;
    height: 80%;
}

/* Media Queries */

@media screen and (max-width: 950px) {
    #card-container {
        grid-template-columns: repeat(2, 1fr); 
    }
    #modal {
        width: 70%;
        height: 80%;
    }

    #card-text {
        opacity: 0;
    }
}

@media screen and (max-width: 550px) {
    #card-container {
        grid-template-columns: repeat(1, 1fr); 
    }

    #card-outer {
        height: 400px;
    }
    #modal {
        width: 90%;
        height: 80%;
    }
}