
@font-face {
font-family: 'Montserrat-BoldItalic';
src: url('/Users/pmcslarrow/Developer/hoop-easy/public/Montserrat/static/Montserrat-BoldItalic.ttf');
font-weight: bold;
font-style: italic;
}

@font-face {
font-family: 'Montserrat';
src: url('/Users/pmcslarrow/Developer/hoop-easy/public/Montserrat/static/Montserrat-Regular.ttf');
font-weight: bold;
font-style: italic;
}

@font-face {
font-family: 'Montserrat-Bold';
src: url('/Users/pmcslarrow/Developer/hoop-easy/public/Montserrat/static/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat-LightItalic';
    src: url('/Users/pmcslarrow/Developer/hoop-easy/public/Montserrat/static/Montserrat-LightItalic.ttf');
}


@font-face {
    font-family: 'Montserrat-Light';
    src: url('/Users/pmcslarrow/Developer/hoop-easy/public/Montserrat/static/Montserrat-Light.ttf');
}



:root {
--background-gradient-start: #FA642F;
--background-dark-orange: #A22A1B;
--font-bold-italic: 'Montserrat-BoldItalic';
--font-bold: 'Montserrat-Bold';
--font-family: 'Montserrat';
}

html {
      font-family: var(--font-family);
}

body { height: 100vh; margin: 0; color: white;}
  
.container {
      height: 90vh;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), /* Black background with 85% opacity */
        url("/Users/pmcslarrow/Developer/hoop-easy/public/login-background.png") no-repeat center center;
        background-size: cover;
}

  .col {
    background: -webkit-linear-gradient(90deg, rgba(250, 70, 47, 0.625), rgba(175, 25, 5, 0.625));
    background: -moz-linear-gradient(90deg, rgba(250, 70, 47, 0.625), rgba(175, 25, 5, 0.625));
    background: -o-linear-gradient(90deg, rgba(250, 70, 47, 0.625), rgba(175, 25, 5, 0.625));
    background: linear-gradient(90deg, rgba(250, 70, 47, 0.625), rgba(175, 25, 5, 0.625));

    border-radius: 20px;
      height: 50%;
      width: 40%;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      min-width: 450px;
      min-height: 350px;
  }

  .col span {
      background-color: white;
      color: black;
      width: 75%;
      height: 50px;
      border-radius: 7.5px;
  }


  h1 {
      font-family: var(--font-bold-italic);
      text-align: center;
  }

  .col button {
      background: linear-gradient(to right, #000000, #3b3a3a);
      color: white;
      border: none;
      border-radius: 7.5px;
      
      width: 75%;
      height: 60px;
      font-size: 30px;
      font-family: var(--font-bold-italic);
      transition: 100ms linear transform
  }

  .col button:hover {
    cursor: pointer;
    transform: scale(1.03);
  }

  p {
      font-size: 18px;
  }

  .no-underline {
    text-decoration: none;
    text-align: center;
  }

  b {
    text-decoration: underline;
  }

  #drop-down {
    transition: 0.1s linear transform;
  }

  #drop-down:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  #forgot-password {
    font-family: var(--font-bold-italic);
    transition: 100ms linear transform;
  }

  #forgot-password:hover {
    cursor: pointer;
    transform: scale(1.03);
  }

